{% extends 'layout.html' %}
{% load static %}



{% block content-main %}

<div class="aboutus">
   <div>
    <img src="{% static 'assets/img/banner/b2.jpg' %}" class="img-thumbnail" alt="HealthyMilky" >
   </div>
   <br>
   <div class="us" style="text-align: center;">
    <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;  color: blueviolet;">About Us</h1>
    <p><pre><b>At Healthymilky, we're passionate about providing you with the purest,
      most nutritious milk products. Our mission is to make healthy living accessible and enjoyable for everyone.</b></pre></p>
       <h5 style="color: blueviolet;">⭐HealthyMilky: Nourishing You, Naturally⭐</h5>
   </div>
</div>

{% endblock content-main %}