{% extends 'layout.html' %}
{% load static %}



{% block content-main %}

<div class="product-page">
    <br><br>
   <div style="text-align: center; ">
    <img src="{{product.image.url}}" class="img-thumbnail" alt="HealthyMilky" >
   </div>
   <br>
   <div class="us" style="text-align: center;">
    <h1 style="font-family: Verdana, Geneva, Tahoma, sans-serif;  color: blueviolet;">{{product.name}}</h1>
    <p style="font-weight:600;">🔥{{product.description}}🔥</p>
   </div>
</div>

{% endblock content-main %}